<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Document</title>
</head>

<body>
  <div id="app" class="container">
    <form class="needs-validation" novalidate action="/action_page.php" v-on:submit.prevent>
      <h2 class="form-signin-heading">{{title}}</h2>
      <div class="mb-3 mt-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Document name" name="document" required autofocus>
      </div>
      <div class="mb-3 mt-3">
        <label for="type" class="form-label">Type:</label>
        <select class="form-select" id="type">
          <option>PRIVATE</option>
          <option selected>PUBLIC</option>
          <option>DRAFT</option>
        </select> 
      </div>
      <div class="mb-3 mt-3">
        <label for="owner" class="form-label">Owner:</label>
        <select class="form-select" id="owner">
          <option v-for="(user) in users">{{user.email}}</option>
        </select> 
      </div>
      <div class="mb-3 mt-3">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="5" id="description" name="description" ></textarea> 
      </div><div class="mb-3 mt-3">
        <span v-for="(user) in docUsers"><button class="btn btn-danger m-1" v-on:click="removeUser(user)">{{user}}</button></span> 
      </div>
      <div class="mb-3 mt-3 row">
        <div class="col">
          <label for="addUsers" class="form-label">Add users:</label>
          <select class="form-select" id="addUser" v-model="userEmail">
            <option v-for="(user) in users">{{user.email}}</option>
          </select>       
        </div>
        <div class="col pt-4">
          <button class="btn btn-success" v-on:click="addUser()">Add User</button>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="file" class="form-label">File:</label>
        <input type="file" class="form-control" id="file" placeholder="Document name" name="file" required>
      </div>
      <button type="submit" class="btn btn-primary" v-on:click="submit">Submit</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./scripts/document.js"></script>
</body>

</html>