<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./web/styles/style.css">
  <title>Home</title>
</head>

<body>
  <div class="container" id="app">
    <header>
      <h1 class="text-center p-4">FILE MANAGER</h1>
      <div class="p-2">
        <form action="" v-on:submit.prevent>
          <div class="row">
            <div class="col">
              <label for="fileName" class="form-label">File Name:</label>
              <input id="fileName" type="text" class="form-control" placeholder="Enter fileName" name="fileName" v-model="filterName">
            </div>
            <div class="col">
              <label for="owner" class="form-label">Owner:</label>
              <select class="form-select" id="owner" v-model="filterOwner">
                <option>all</option>
                <option v-for="(user) in users">{{user.email}}</option>
              </select>
            </div>
            <div class="col">
              <label class="form-label" for="startDate">Start</label>
              <input id="startDate" class="form-control" type="date" v-model="filterDate"/>
            </div>
            <div id="filter-btn" class="col">
              <button class="btn btn-success" v-on:click="filter()">Apply</button>
            </div>
          </div>
        </form>
      </div>

    </header>
    <div class="p-2">
      <button class="btn btn-success" v-on:click="addFile()">Add File</button>
      <table class="table table-bordered table-striped " id="documents">
        <thead>
          <th>Name</th>
          <th>Date</th>
          <th>Type</th>
          <th>Owner</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr v-for="(document, index) in documents" :key="index">
            <td>{{document.name}}</td>
            <td>{{document.date}} </td>
            <td>{{document.type}}</td>
            <td>{{document.owner}}</td>
            <td class="text-center">
              <button class="btn btn-success" v-on:click="download(document.id)">Download</button>
              <button class="btn btn-danger" v-on:click="deleteFile(document.id)">Delete</button>
              <button class="btn btn-warning" v-on:click="modify(document.id)">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./web/scripts/index.js"></script>
</body>

</html>